/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Gentium Basic', serif, sans-serif;
}
.bg-container {
  width: 90%;
  background: #eeeeee;
  margin: auto;
  padding-bottom: 5%;
}
.btn-hover {
  box-shadow: 10px 12px 18px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.text-styles {
  font-style: italic;
  font-weight: bold;
}
.h1-styles {
  font-size: 3.8rem;
  font-style: italic;
  font-weight: bolder;
}
.img-gallery-card {
  display: flex;
  width: 48.5%;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  padding: 2% 0;
  height: auto;
}
@media only screen and (max-width: 800px) {
  .nav {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
  }
}
.nav h1 {
  font-size: 3.8rem;
  font-style: italic;
  font-weight: bold;
}
@media only screen and (max-width: 800px) {
  .nav h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5%;
  }
}
@media only screen and (max-width: 500px) {
  .nav h1 {
    margin-bottom: 3%;
  }
}
.nav .links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
@media only screen and (max-width: 800px) {
  .nav .links {
    width: 100%;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 500px) {
  .nav .links {
    flex-direction: column;
    align-items: center;
  }
}
.nav .links li {
  width: 33%;
  text-align: center;
  transition: all 0.2s;
}
@media only screen and (max-width: 500px) {
  .nav .links li {
    width: 100%;
    margin: 1% 0;
  }
}
.nav .links li:hover {
  background: #04B7FF;
}
.nav .links a {
  color: #2f2f2f;
  font-size: 1.2rem;
  font-weight: 700;
}
@media only screen and (max-width: 500px) {
  .nav .links a {
    font-size: 1rem;
  }
}
.footer-h3 {
  font-style: italic;
  font-weight: bold;
  font-size: 3.8rem;
  text-align: center;
  margin: 3% 10%;
}
@media only screen and (max-width: 800px) {
  .footer-h3 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .footer-h3 {
    font-size: 1.6rem;
  }
}
.footer-icons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20%;
}
.footer-icons--card {
  display: flex;
  flex-direction: column;
  align-items: center ;
}
.footer-icons--card img {
  width: 75%;
}
@media only screen and (max-width: 800px) {
  .footer-icons--card img {
    width: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .footer-icons--card img {
    width: 45%;
  }
}
.footer-icons--card p {
  margin: 4% 0;
}
@media only screen and (max-width: 800px) {
  .footer-icons--card p {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 500px) {
  .footer-icons--card p {
    font-size: 0.6rem;
  }
}
.footer .copyright {
  text-align: center;
  margin: 2% 0;
}
@media only screen and (max-width: 800px) {
  .footer .copyright {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 500px) {
  .footer .copyright {
    font-size: 0.6rem;
  }
}
.main-index .cta {
  margin: 5% 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .main-index .cta {
    flex-direction: column;
    margin-bottom: 8%;
  }
}
.main-index .cta-left {
  width: 48%;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .main-index .cta-left {
    width: 100%;
    margin-bottom: 8%;
  }
}
.main-index .cta-left h1 {
  font-size: 3.8rem;
  font-style: italic;
  font-weight: bolder;
}
@media only screen and (max-width: 500px) {
  .main-index .cta-left h1 {
    font-size: 3rem;
  }
}
.main-index .cta-left p {
  font-style: italic;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 2% 0;
}
@media only screen and (max-width: 500px) {
  .main-index .cta-left p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 2% 0;
  }
}
.main-index .cta-left .btn {
  padding: 4%;
  width: 50%;
  background: #04B7FF;
  border: none;
  border-radius: 5px;
  font-family: 'Gentium Basic', serif, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 500px) {
  .main-index .cta-left .btn {
    padding: 4%;
    width: 100%;
    background: #04B7FF;
    border: none;
    border-radius: 5px;
    font-family: 'Gentium Basic', serif, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1.4rem;
    transition: all 0.3s;
  }
}
.main-index .cta-left .btn:hover {
  box-shadow: 10px 12px 18px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.main-index .cta-right {
  width: 48%;
  background: #04B7FF;
  border-radius: 10px;
  height: auto;
}
@media only screen and (max-width: 800px) {
  .main-index .cta-right {
    width: 100%;
    margin-bottom: 2%;
  }
}
.main-index .cta-right img {
  width: 100%;
  height: auto;
}
.main-index .cta-right h3 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  padding: 5% 0;
}
@media only screen and (max-width: 500px) {
  .main-index .cta-right h3 {
    font-size: 1.4rem;
  }
}
.main-index .img-gallery {
  display: flex;
  justify-content: space-between;
  margin: 0 12%;
  flex-wrap: wrap;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .main-index .img-gallery {
    flex-direction: column;
  }
}
.main-index .img-gallery--left {
  flex-wrap: wrap;
  display: flex;
  width: 48.5%;
  justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  .main-index .img-gallery--left img {
    width: 48%;
  }
}
@media only screen and (max-width: 800px) {
  .main-index .img-gallery--left {
    width: 100%;
    margin-bottom: 8%;
  }
}
.main-index .img-gallery--right {
  flex-wrap: wrap;
  display: flex;
  width: 48.5%;
  justify-content: space-between;
}
@media only screen and (max-width: 800px) {
  .main-index .img-gallery--right img {
    width: 48%;
  }
}
@media only screen and (max-width: 800px) {
  .main-index .img-gallery--right {
    width: 100%;
  }
}
.main-index .img-gallery .img-text {
  font-style: italic;
  font-weight: bold;
  margin: 2% auto;
  font-size: 2rem;
}
@media only screen and (max-width: 800px) {
  .main-index .img-gallery .img-text {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-index .img-gallery .img-text {
    font-size: 1.4rem;
  }
}
.main-contact h2 {
  font-style: italic;
  font-weight: bold;
  font-size: 2.8rem;
  margin: 2% 12%;
}
@media only screen and (max-width: 800px) {
  .main-contact h2 {
    font-size: 2rem;
  }
}
.main-contact .contact-form {
  margin: 2% 12%;
  background: #04B7FF;
  border-radius: 10px;
}
.main-contact .contact-form .form {
  display: flex;
  flex-direction: column;
  padding: 2% 0;
  width: 75%;
  margin: auto;
  font-weight: bold;
}
.main-contact .contact-form .form-label {
  margin: 3% 0 1% 0;
  font-style: normal;
}
.main-contact .contact-form .form-element {
  padding: 1%;
  font-family: 'Gentium Basic', serif, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border: solid 1px black;
}
.main-contact .contact-form .form .btn {
  display: flex;
  padding: 2%;
  width: 25%;
  background: #eeeeee;
  border: none;
  border-radius: 5px;
  font-family: 'Gentium Basic', serif, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.3s;
  margin: 2% 0;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .main-contact .contact-form .form .btn {
    padding: 2%;
    width: 100%;
    background: #eeeeee;
    border: none;
    border-radius: 5px;
    font-family: 'Gentium Basic', serif, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1.4rem;
    transition: all 0.3s;
    margin: 4% 0;
  }
}
.main-contact .contact-form .form .btn:hover {
  box-shadow: 10px 12px 18px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
