.footer {
    &-h3 {
        .text-styles;
        font-size: @h2;
        text-align: center;
        margin: 3%;
    }

    &-icons {
        .flex();
        justify-content: space-evenly;
        margin: 0 20%;

        &--card {
            img {
                width: 75%;
            }

            p {
                margin: 4% 0;
            }
        }
    }

    .copyright {
        text-align: center;
        margin: 2% 0;
    }
}