//Primary color...
@prime-color: #04B7FF;

//Background colors...
@background-med: #e1f6fe;
@background-light: #ffffff;


//Font colors...
@font-color-dark: #2f2f2f;
@font-color-med: #c4c4c4;
@font-color-light: #dbdee5;

//Font/font sizes...
@font: 'Gentium Basic', serif, sans-serif;
@h1: 6rem;
@h2: 3.8rem;
@name-size: 3rem;
@h3: 2rem;

//Mixins...
.flex() {
    display: flex;
}

.btn(@padding, @width, @color) {
    padding: @padding;
    width: @width;
    background: @color;
    border: none;
    border-radius: 5px;
    font-family: @font;
    font-style: italic;
    font-weight: 700;
    font-size: 1.4rem;
    transition: all .3s;
}

.btn-hover {
    box-shadow: 10px 12px 18px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.text-styles {
    font-style: italic;
    font-weight: bold;
}

.h1-styles {
    font-size: @h2;
    font-style: italic;
    font-weight: bolder;
}

.p-styles {
    font-style: italic;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 2% 0;
}

.img-gallery-card {
    .flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
}

//Media queries...
@mobile: ~"max-width: 500px";
@tablet: ~"max-width: 800px";