//Primary color...
@prime-color: #009DDC;

//Background colors...
@background-med: #eeeeee;
@background-light: #ffffff;


//Font colors...
@font-color-dark: #2f2f2f;
@font-color-med: #c4c4c4;
@font-color-light: #dbdee5;

//Font/font sizes...
@font: 'Gentium Basic', serif, sans-serif;
@h1: 6rem;
@h2: 3.2rem;
@h3: 2rem;

//Mixins...
.flex() {
    display: flex;
}


